{% extends "base.html" %}
{% block content %}
<h2 style="font-weight:bold">Список профессий</h2>

{%set sp = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию',
'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог',
'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер']%}
{%if list == 'ul'%}
<ul >
    {%for el in sp%}
    <li style="font-size:23px">{{el}}</li>
    {%endfor%}
</ul>
{%elif list == 'ol'%}
<ol>
    {%for el in sp%}
    <li style="font-size:20px">{{el}}</li>
    {%endfor%}
</ol>
{%endif%}
{% endblock %}